body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.title-image-container {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.title-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.container {
    padding: 10px;
    width: 100%;
    max-width: 100%;
    text-align: center;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#searchBox {
    padding: 10px;
    width: 70%;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#searchButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    margin-left: 10px;
    cursor: pointer;
}

#bingo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

#options {
    margin-right: 20px;
    text-align: left;
}

#options h3 {
    margin-bottom: 10px;
}

#options button {
    display: block;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100px;
    text-align: center;
}

#options button:hover {
    background-color: #0056b3;
}

#bingoBoardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

#drawingCanvas {
    border: 1px solid #000;
    cursor: crosshair;
    touch-action: none; /* Para asegurar que el dibujo funcione correctamente en móviles */
    max-width: 100%;
    height: auto;
}
