body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title-image-container {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.title-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.container {
    padding: 10px;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

header {
    width: 100%;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#searchBox {
    padding: 10px;
    width: 70%;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#searchButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    margin-left: 10px;
    cursor: pointer;
}

#bingoBoardsContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.bingoBoard {
    border: 2px solid #D80602;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
}

.bingoHeader {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.bingoColumns {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.bingoCell {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    background-color: #fff;
    font-size: 16px;
    font-weight: bold;
}

#paginationControls {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones para hover */
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05); /* Efecto de agrandamiento en hover */
}

.bingoCell.free {
    background-image: url('free.png'); /* Ruta de la imagen */
    background-size: cover;
    background-position: center;
    color: transparent; /* Para ocultar el texto 'FREE' */
    text-indent: -9999px; /* Para asegurar que el texto no se vea ni ocupe espacio */
}

.bingoCell.marked {
    background-color: #ffc000; /* Fondo para la celda marcada */
    color: white; /* Texto blanco para la celda marcada */
}

.bingoCell.figure-marked {
    background-color: #2D6717; /* Fondo para la figura marcada */
    color: black; /* Texto negro para la figura marcada */
}

/* Estilo específico para el cartón de figura */
.figure-board .bingoCell.figure-marked {
    background-color: #2D6717; /* Cambia el color de fondo a tu preferencia */
    color: white; /* Cambia el color del texto si es necesario */
}

.bingoBoard.small {
    width: 120px; /* Ajusta el tamaño del cartón pequeño */
    height: 120px; /* Ajusta el tamaño del cartón pequeño */
    font-size: 8px; /* Ajusta el tamaño de la fuente del cartón pequeño */
}

@media (max-width: 600px) {
    .bingoHeader, .bingoColumns, .bingoCell {
        font-size: 14px;
    }

    .title-image {
        max-width: 90%;
    }
}

.winner-item {
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    color: black;
    font-weight: bold;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.winner-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.winner-item::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.1);
    opacity: 0;
    transition: opacity 0.3s;
}

.winner-item:hover::before {
    opacity: 1;
}

.winner-item.t {
    background-color: #1f77b4; 
}

.winner-item.l {
    background-color: #ff7f0e; 
}

.winner-item.p {
    background-color: #2ca02c; 
}

.winner-item.i {
    background-color: #d62728; 
}

.winner-item.s {
    background-color: #9467bd; 
}

.winner-item.z {
    background-color: #8c564b; 
}

.winner-item.ajedrez {
    background-color: #e377c2; 
}

.winner-item.x {
    background-color: #7f7f7f; 
}

.winner-item.2linea {
    background-color: #bcbd22; 
}

.winner-item.linea {
    background-color: #17becf; 
}

.winner-item.4esquinas {
    background-color: #1f77b4; 
}

.winner-item.comodin {
    background-color: #ff7f0e; 
}

/* Animaciones */
.animated {
    animation: slideIn 1s ease-out forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

#winnersSection {
    display: none; /* Ocultar la sección de ganadores */
}

.bingoBoard.highlighted-permanent {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(255, 0, 0, 0.5); /* Fondo rojo transparente */
    border: 2px solid red;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 400px; /* Ajusta la anchura según sea necesario */
    height: 140px; /* Ajusta la altura según sea necesario */
    display: grid;
    grid-template-rows: auto 1fr; /* Mantén la estructura de filas */
    gap: 0; /* Sin espacio entre filas */
}

.bingoBoard.highlighted-permanent .bingoHeader {
    font-size: 48px; /* Ajusta el tamaño de la fuente del encabezado "BINGO" */
}

.bingoBoard.highlighted-permanent .bingoColumns {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0; /* Sin espacio entre las columnas */
    margin: 0; /* Eliminar márgenes */
    padding: 0; /* Eliminar padding */
    border-collapse: collapse; /* Colapsar bordes de la tabla */
    border-spacing: 0; /* Eliminar espacio entre celdas */
    height: 100%; /* Asegura que las celdas llenen todo el espacio disponible */
}

.bingoBoard.highlighted-permanent .bingoCell {
    width: 100%;
    height: 70px; /* Ajusta la altura de las celdas */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000; /* Bordes negros */
    background-color: #fff;
    font-size: 35px; /* Ajusta el tamaño de la fuente */
    cursor: pointer;
    color: #000 !important; /* Asegura que el color del texto sea negro */
    font-weight: bold; /* Asegura que el texto esté en negrilla */
    text-transform: uppercase; /* Texto en mayúsculas */
    transition: background-color 0.3s ease; /* Transición suave para cambios de color */
    box-sizing: border-box; /* Asegura que el tamaño incluye los bordes */
    padding: 0; /* Elimina el padding para que los números estén juntos */
    margin: 0; /* Elimina el margen para que los números estén juntos */
}

.bingoBoard.highlighted-permanent .bingoCell.marked {
    background-color: #E2C913; /* Fondo para la celda marcada */
    color: white; /* Texto blanco para la celda marcada */
}

.bingoBoard.highlighted-permanent .bingoCell.figure-marked {
    background-color: #2D6717; /* Fondo para la figura marcada */
    color: black; /* Texto negro para la figura marcada */
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg) scale(1.5);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg) scale(1.5);
    }
}

.bingoBoard .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
}

.bingoBoard.blurred {
    filter: blur(5px);
    pointer-events: none;
}

#bingo.portrait-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.blurry {
    filter: blur(5px);
    pointer-events: none; /* Para que no se pueda interactuar con los elementos borrosos */
}
