body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.title-image-container {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.title-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.container {
    padding: 10px;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

#bingoBoardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    justify-items: center;
}

.bingoBoardImage {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.bingoBoardImage:hover {
    transform: scale(1.05);  /* Efecto de agrandamiento al pasar el cursor */
}
